<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcmSt9E4zgAF1nZRT0fTvH87RlAeVvofg</string>
	<key>GCM_SENDER_ID</key>
	<string>1087719441965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vadimyakimov.Weather</string>
	<key>PROJECT_ID</key>
	<string>weather-2158a</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-2158a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087719441965:ios:4b7f72114a307f53dfdaa4</string>
</dict>
</plist>